body {
    background-color: #bdc3c7;
}

.cv .container {
    background-color: #e4e4e4;
}

.cv .details {
    padding-top: 7.5%;
    padding-top: 9vh;
    padding-bottom: 4.5%;
    padding-bottom: 3vh;
}

.cv h2 {
    color: #414040;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
