body{
    background-image: linear-gradient(#004799,#003066);
    min-height: 100vh;
    height: 100%;
    padding-top: 2rem;
}

.transparent-card {
    background-color: rgba(0, 0, 0, 0.200);
    border-radius: 10px;
    padding: 2rem 2rem 1rem 2rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.250);
    margin-bottom: 2rem;
}

.profile {
    flex-direction: row;
}

.profile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.250);
}

.profile .subtitle {
    margin-top: 1rem;
    font-size: 11px;
    color: #ebebeb;
}

.profile .subtitle .icons {
    font-size: 24px;
}

.profile .subtitle .line {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.text-area{
    align-items: center;
    margin-top: 1rem;
    font-size: 16px;
    color: #ebebeb;
}

.skills{
    margin-top: 2rem;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1px;
    border-radius: 10px;
    font-size: 18px;
    color: #ebebeb;
    padding: 1rem 1rem 0 1rem;
}

.skills .col-12 {
    margin-bottom: 1rem;
}

.line {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 7%;
    border-bottom: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 1px;
}

.icons {
    font-size: 30px;
    color: #fff;
}

.icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 0.5rem;
}

.icons a :hover {
    color: #c2c2c2;
}

@media (min-width: 576px)
{
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px)
{
    .container {
        max-width: 760px;
    }
}
/* @media (min-width: 992px)
{.container {
    max-width: 720px;
}}

@media (min-width: 1200px)
{.container {
    max-width: 720px;
}} */